[package]
name = "contract_strapex"
version = "0.1.0"
edition = "2023_10"

# See more keys and their definitions at https://docs.swmansion.com/scarb/docs/reference/manifest.html

[dependencies]
starknet = "2.10.1"
openzeppelin = "0.20.0"

[dev-dependencies]
snforge_std = { git = "https://github.com/foundry-rs/starknet-foundry", tag = "v0.37.0" }
assert_macros = "2.9.4"

[[target.starknet-contract]]
casm = true
sierra = true

[scripts]
test = "snforge test"
